.text {
  &--center {
    text-align: center;
  }

  &--red {
    color: $red;
  }
}

.bg {
  &--red {
    background-color: $red;
  }

  &--blue {
    background-color: $blue;
  }
}

.d {
  &--grid {
    display: grid;
  }

  &--flex {
    display: flex;
  }
}

.section--padding {
  padding: 10rem 0;
  @include media-query($break-md) {
    padding: 5rem 0;
  }
}

.only {
  &--sm {
    display: none;
    @include media-query($break-md) {
      display: block;
    }
  }
}